<div class="container-fluid fluid-p-0 g-0 overflow-x-hidden">
    <div class="row">
        <div class="col-lg-7 col-xl-6">
            <img src="assets/images/login.png" class="img-100vh img-fluid" alt="login_image" />
        </div>
        <div class="col-lg-5 col-xl-6">
            <div class="mt-5 text-center">
                <img src="assets/images/logo/logo.png" class="img-fluid" alt="Quicksand" />
            </div>
            <div class="login-form">
                <h3 class="login-heading">The Golden Archives</h3>
                <p class="login-subtitle mb-30">Access the past, present and future</p>
                <div class="row">
                  <div class="col-sm-10 col-md-8 col-lg-12 col-xxl-8 mx-auto">
                    <app-login-form></app-login-form>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
