<app-header></app-header>

<section class="pt-30">
   <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 mb-30">
                <h2 class="section-heading">Projects <span class="text-grey"> |  Resources </span></h2>
            </div>
            <div class="col-md-5 mb-30">
              <app-searchproject (searchTextChanged)="onSearchTextEntered($event)"></app-searchproject>
            </div>
            <div class="col-md-7 mb-30">
                <div class="d-flex justify-content-md-end align-items-center">
                    <a class="btn btn-project me-3" routerLink="/dashboard">My Projects</a>
                    <a class="btn btn-other-project" routerLink="/projects-archives">Other Projects & Archives</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-3 mb-3 ">
                <a routerLink="/create-project">
                    <div class="card card-border card-project">
                        <div class="card-body d-flex card-project justify-content-center align-items-center ">
                            <h6>+ Create A New Project</h6>
                        </div>
                    </div>
                </a>
            </div>
            <ng-container class="col-md-6 col-lg-4 col-xl-3 mb-3" *ngFor="let project of projects">
              <div class="col-md-6 col-lg-4 col-xl-3 mb-3" *ngIf=" searchText === '' || project.name.toLowerCase().includes(searchText);"  >
               <div class="col-md-6 col-lg-4 col-xl-3 mb-3" *ngIf="projects.length === 0 && searchText !== ''">
                </div>
                          <!-- <app-projectcard [projectdetail]="project"></app-projectcard>
                         <app-projectcard></app-projectcard> -->

                              <div class="card card-project">
                    <div class="card-body ">
                        <div class="row g-2">
                            <div class="col-md-3">
                              <img class="img-fluid" src="assets/images/card-image.png" alt="card-image">
                            </div>
                            <div class="col-md-9"  >
                              <a>{{ project.name }}</a>
                              <p> ID : {{ project.id }}</p>
                                <p>{{ project.description }}</p>
                          </div>
                        </div>
                        </div>
                        <div class="progress">
                        <div class="progress-bar w-25 bg-grey" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    </div>
                     <p class="publish"><i class="fa-solid fa-clock me-1"></i> Secondary Research</p>
                    </div>
                </ng-container>
              <p *ngIf="noMatches">Not found</p>
            </div>
            </div>
            </section>


