<app-header></app-header>

<section class="pt-30">
   <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 mb-30">
                <h2 class="section-heading">Projects <span class="text-grey"> |  Resources </span></h2>
            </div>
            <div class="col-md-5 mb-30">
                <app-searchproject></app-searchproject>
            </div>
            <div class="col-md-7 mb-30">
                <div class="d-flex justify-content-md-end align-items-center">
                    <a class="btn btn-project me-3" routerLink="/dashboard">My Projects</a>
                    <a class="btn btn-other-project" routerLink="/projects-archives">Other Projects & Archives</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-3 mb-3">
                <a routerLink="/create-project">
                    <div class="card card-border card-project">
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <h6>+ Create A New Project</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 mb-3">
                <div class="card card-project card-project-complete">
                    <div class="card-body">
                        <div class="row g-2">
                            <div class="col-md-3">
                                <img class="img-fluid" src="assets/images/card-image.png" alt="card-image">
                            </div>
                            <div class="col-md-9">
                                <a href="javascript:;">Project HMIS</a>
                                <p>ID : 01322 </p>
                                <p>Bill & Melinda Gates Foundation</p>
                            </div>
                        </div>
                        <div class="text-end">
                            <a class="btn btn-white btn-complete">Complete Set-up</a>
                        </div>
                    </div>
                </div>
                <p class="publish"><i class="fa-solid fa-clock me-1"></i> Publishing Pending</p>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 mb-3">
                <div class="card card-project">
                    <div class="card-body">
                        <div class="row g-2">
                            <div class="col-md-3">
                                <img class="img-fluid" src="assets/images/card-image.png" alt="card-image">
                            </div>
                            <div class="col-md-9">
                                <a href="javascript:;">Coca-Cola IPL Branding</a>
                                <p>ID : 01322</p>
                                <p>Bill & Melinda Gates Foundation</p>
                            </div>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar w-25 bg-grey" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <p class="publish"><i class="fa-solid fa-clock me-1"></i> Secondary Research</p>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 mb-3">
                <div class="card card-project">
                    <div class="card-body">
                        <div class="row g-2">
                            <div class="col-md-3">
                                <img class="img-fluid" src="assets/images/card-image.png" alt="card-image">
                            </div>
                            <div class="col-md-9">
                                <a href="javascript:;">Project HMIS</a>
                                <p>ID : 01322 </p>
                                <p>Bill & Melinda Gates Foundation</p>
                            </div>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar w-90 bg-grey" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <p class="publish"><i class="fa-solid fa-clock me-1"></i> Secondary Research</p>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 mb-3">
                <div class="card card-project">
                    <div class="card-body">
                        <div class="row g-2">
                            <div class="col-md-3">
                                <img class="img-fluid" src="assets/images/card-image.png" alt="card-image">
                            </div>
                            <div class="col-md-9">
                                <a href="javascript:;">Jhpiego: Safe hands ask for help</a>
                                <p>ID : 01322 </p>
                                <p>Bill & Melinda Gates Foundation | ...</p>
                            </div>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar w-50 bg-grey" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <p class="publish"><i class="fa-solid fa-clock me-1"></i> Secondary Research</p>
            </div>
        </div>
    </div>
</section>

